*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.bounteous-container{
display: flex;
justify-content: space-between;
margin: 2rem;
}
.bounteous-logo{

}
.bounteous-links{
display: flex;
gap: 1rem;
align-items: center;
cursor: pointer;
}
.bounteous-links ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.bounteous-links button{
  padding: 12px 15px;
  border: none;
  background-color: #5500D4;
  border-radius: 10px ;
  color: white;
  cursor: pointer;
}
.service-container{
  display: flex;
}

.service-1{
  background-image: url(./assets/waves\ 2.png);
 background-size: cover;
 background-repeat: no-repeat;
height: calc(100vh - 3.8rem);

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  
}
.service-texts{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.service-texts span{
  
}
.service-texts h1{
  font-size: 2rem;
}
.service-texts p {
line-height: 28px;
}
.button-1{
 padding: 12px 15px;
  border: #5500D4 1px solid;
  border-radius: 10px ;
  color: #5500D4;
  border: none;
  cursor: pointer;
}
.button-2{
   padding: 12px 15px;
  border: none;
  background-color: #5500D4;
  border-radius: 10px ;
  color: white;
    cursor: pointer;
}
.service-2{
  flex: 1;
}
.service-2 img{
  max-width: 100%;
}
.investment-container{
  display: flex;
  margin: 3rem;
  gap: 1rem;
}
.investment-1{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.investment-1 h1{
  font-size: 2.5rem;
  border-left: #5500D4 solid 9px;
}
.investment-1 p{
  line-height: 40px;
}
.investment-2{
  flex: 1;
}
.investment-2 img{
  max-width: 100%;
}

.looking-container{
margin: 2rem;
}
.looking-container h1{
  font-size: 2.5rem;
  margin: 2rem;
   border-left: #5500D4 solid 9px;
}
.looking-cards{
display: flex;
gap: 1rem;

}
.lookings-card{
  flex: 1;
  position: relative;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 142px;
border-radius: 25px;
padding-left: 10px;
max-width: 288px;
}
.looking-card{
   flex: 1;
  position: relative;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 142px;
border-radius: 25px;
padding-left: 10px;
max-width: 288px;
}
.booking-card{
   flex: 1;
  position: relative;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 142px;
border-radius: 25px;
padding-left: 10px;
max-width: 288px;
}
.looging-card{
   flex: 1;
  position: relative;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 142px;
border-radius: 25px;
padding-left: 10px;
max-width: 288px;
}
div{
 position: absolute;
 top: 20px;
}
.down{
  display: flex;
  margin-top: 1.5rem;
  gap: 8rem;
 
}
.looking-button{
margin-top: 1.5rem;
align-items: center;
display: flex;
  cursor: pointer;
}
.looking-button button{
  border: none;
  background-color: white;
  color: #5500D4;
}
.looking-button img{
  width: 16px;
height: 16px;
top: 1541px;
left: 195px;
padding: 2.95px 2.95px 2.95px 2.67px;
gap: 0px;
opacity: 0px;

}

.intersect{
margin-top: 1.1rem;
align-self: flex-end;
display: flex;
position: relative;
margin-left: ;
}
.intersect img {
  max-width: fit-content;
  margin-top: 3px;
 
}

.int img {
   position: absolute;
  border: #5500D4 1px;
  width: 49.7px;
height: 49.92px;
left: 20px;
bottom: 10px;
}
.latest-container{
 margin-top: 5rem;
 margin-left: 2rem;
}
.latest-container h1{
  text-transform: capitalize;
  font-size: 2rem;
  border-left: #5500D4 solid 10px;
  margin-bottom: 2rem;
}
.latest-cards{
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.latest-card{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #F0EBF6;
  border-radius: 30px;
  width: 95%;
}
.latests-card{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #F0EBF6;
  border-radius: 30px;
  width: 95%;
}
.lates-card{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #F0EBF6;
  border-radius: 30px;
  width: 95%;
}
.l-img img {
  max-width: 100%;
}
.l-texts{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
} 
.l-texts p{
  line-height: 1.5rem;
}
.contact{
  display: flex;
background-color:#5500D4;
margin-top: 4rem;
}
.contact button{
    cursor: pointer;
}
.left-contact{
flex: 1;
align-self: center;
margin-left: 2rem;
display: flex;
flex-direction: column;
color: white;
gap: 2rem;
}

.left-contact h1{
  font-size: 2rem;
}
.left-contact p{
  font-size: 1.5rem;
}
.left-contact button{
  max-width: fit-content;
   padding: 12px 25px;
  border: #5500D4 1px solid;
  border-radius: 10px ;
  color: #5500D4;
}
.right-contact{
flex: 1;
}
.newsletter-container{
 display: flex;
 background-color: #656565;
}
.ns-logo{
  flex: 1;
 padding: 2rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.icons{
  display: flex;
  gap: 1rem;
  margin-left: 20px;
}
.ns-logo img{
width: 250px;;
height: 66.96px;
justify-content: center;

}
.ns-logo{
  margin-top: 1rem;
}
.ns-contact{
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
  }
.newsletter{
  flex: 2;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.input{

}
.input::placeholder{
width: 417px;
height: 53px;
top: 3349px;
left: 730px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.input button{
max-width: fit-content;
padding: 12px 25px;
border-radius: 10px;
background-color:#656565;
border: solid white;
}

.footer{

background-color: #454444;

height: 100px;
top: 3379px;
left: 1px;
gap: 0px;
opacity: 0px;


}
.footer p{
padding-top: 3rem;
padding-left: 2rem;
}

@media (max-width:1020px){
  .service-1{
 
}
.service-2{
 
}
.investment-2{
   width: 30%;
}

.lookings-card{
  display: none;
}

 

.latest-card{
  width: 80%;
}
.latests-card{
  width: 80%;
}

}

@media (max-width:970px){

}


@media (max-width:956px){

}
@media (max-width:895px){

.booking-card{
  display: none;
}


.newsletter{
  display: none;
}
.latests-card{
  display: none;
}
}
@media (max-width:685px){
  .bounteous-links{
    display: none;
  }
  .button-2{
    display: none;
  }
  .looking-cards{
    flex-direction: column;
    align-items: center;
  }
  .lookings-card{
  display: block;
}
.booking-card{
  display: block;
}
}
@media (max-width:600px){
  .lates-card{
    display: none;
  }
  .latest-card{
    margin: 2rem;
  }
  .right-contact{
    display: none;
  }
  .logo-img{
    display: none;
  }
  .service-1{
    background-image:none;
    height: calc(60vh - 3.8rem);
  }

}
@media (max-width:570px){
 .service-2{
  display: none;
 }
 .investment-2{
  display: none;
 }
}